<div class="main">
  <div class="food-cards" *ngIf="foods; else elseblock">
    <div class="card" *ngFor="let food of foods" >
      <a [routerLink]="['/view',food.recipeId]">
        <img [src]="food.image" [alt]="food.name">
        <div class="container">
          <h5>{{food.name}}</h5>
          <p>{{food.description}}</p>
        </div>
      </a>

    </div>
    
    
  </div>
  <ng-template #elseblock>
    <div class="spinner">
      <mat-progress-spinner
      [color]="color"
      [mode]="mode"
      [diameter]="120"
      style="margin:auto;"
      >
  </mat-progress-spinner>
  <p>Loading...</p>
    </div>
    
  </ng-template>
</div>