
  <nav >
    <div class="logo">
        <h4>Indian Tastes</h4>
    </div>
    <ul class="nav-links">
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
            <a href="">Recipe</a>
        </li>
        <li>
            <a [routerLink]="['/createRecipe']">Upload</a>
        </li>
        <li>
            <a [routerLink]="['/contact']">Contact</a>
        </li>
    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav >





 <!--<div class="navbar" id="topNav">
    <div class="nav-item-left">
        <a href="">Indian Tastes</a>
    </div>
    <div class="nav-item-right">
    <a href="" class="active">Home</a>
    <a [routerLink]="['/home']">Recipe</a>
    <a [routerLink]="['/createRecipe']">Upload</a>
    <a href="">Contact</a>
    
    </div>
</div> -->