<h2 style="text-align: center;margin-bottom: 25px;">Contact Me</h2>


<p>This is a simple food blogging application for creating and storing mainly Indian food recipes. You can also share any recipes you want.</p>
<br>

<p>Please do share and Upload your recipes.</p>
<br>
<p>For further queries or to report any issues, please contact me at <a href="ajaysreedhar25@outlook.com">ajaysreedhar25@outlook.com</a>.</p>
<br>
<p style="color: #910909;font-weight: bold;">Thank you for visiting this page.</p>   
<br>
