*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	
}
body{
	margin:0
} 

footer{
	width:100%;
	background-color: dimgray;
	padding: 10px;
	position: initial;
    bottom: 0;
}

footer p{
	color: whitesmoke;
	text-align: center;
	margin: 0;
}

@media(max-width:768px){
	footer{
	padding: 5% 24%;
}
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
